body {
    padding: 0;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;  
    padding: 0 2%;
    width: 80%;
}

section {
    flex: 100%;
    @include grid-layout();
    @include grid-temp-columns();
    margin: 0 10px;

    @include breakpoint(large) { 
        @include grid-columns(4);
    }

    header {
        @include center-items();

        @include breakpoint(large) { 
            grid-column: 1 / -1; 
        }
    }    

    .summary {
        @include breakpoint(large) { 
            grid-column: 1 / 1;
        }
    }

    .preamble { 
        @include breakpoint(large) { 
            grid-column: 2 / 5; 
        }
    }
}

.main {
    @include grid-layout();
    @include grid-temp-columns();
    flex: 74%;
    margin: 10px;

    @include breakpoint(large) { 
        @include grid-columns(3); 
    }

    .explanation {
        @include breakpoint(large) { 
            grid-column: 2 / 4;
        }
    }

    .participation {
        @include breakpoint(large) { 
            grid-column: 2 / 2;
        }
    }

    .benefits {
        @include breakpoint(large) { 
            grid-column: 3 / 3;
        }
    }

    .requirements {
        @include breakpoint(large) { 
            grid-row: 1 / 3;
        }
    }
}

.sidebar {
    flex: 21%;
    line-height: 1.5em;
    padding: 10px;
    margin: 10px 0;

    @include breakpoint(large) { 
        margin: 10px 2px;
    }
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
    padding: 0 18px;
}

footer {
    @include grid-layout();
    @include center-items();
    @include grid-columns(5);
    padding: 15px;
    line-height: 2em;

    @include breakpoint(large) { 
        @include grid-columns(5);
        grid-column: 1 / 4;
    }
}