// fonts
$primary-font: 'Dosis', sans-serif;
$secondary-font: 'Kaushan Script', cursive;

/* -------------------------------- 

xTypography 

-------------------------------- */

h1,
h2, 
h3 {
  font-family: $secondary-font;
  color: $color-4;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include breakpoint(large) {
    font-size: 3.5rem;
  }
}

h2, h3 {
  font-size: 1.2rem;
  margin: 1em 0 1.4em;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}

section > h2::before {
  color: darken($color-4, 15%);
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: darken($color-1, 40%);

  a {
    color: $alert;
    text-decoration: underline;
  }

  @include breakpoint(large) {
    font-size: 1rem;
  }
}

body {
  background-color: lighten($color-5, 2.5%);
}

.page-wrapper {
  background-color: $color-5;
}

header {
  background-color: $color-2; 
} 

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  background-color: $color-1;
}

footer {
  background-color: $color-2;
}

aside {
  background-color: $color-3;
}
