// fonts
$primary-font: 'Dosis', sans-serif;
$secondary-font: 'Kaushan Script', cursive;

/* -------------------------------- 

xTypography 

-------------------------------- */

h1,
h2, 
h3 {
  font-family: $secondary-font;
  color: $color-4;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2em;
  margin: 0;

  @include breakpoint(large) {
    font-size: 3.5rem;
  }
}

h2, h3 {
  font-size: 1.2rem;
  margin: 1em 0 1.4em;
  line-height: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}

section > h2::before {
  color: darken($color-4, 15%);
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: darken($color-1, 90%);

  a {
    color: $color-6;
    text-decoration: underline;
  }

  @include breakpoint(large) {
    font-size: 1rem;
  }

  a:hover {
    color: $color-5;
    text-decoration: none;
  }
}

.summary a, footer a {
  background-color: $color-6;
  padding: 5px;
  color: $color-5;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  opacity: 0.8;
  margin: 2px 0;

  @include breakpoint(large) {
    padding: 15px;
  }
}

.summary a:hover, footer a:hover {
  background-color: $color-5;
  color: $color-6;
}

body {
  background-color: lighten($color-5, 2.5%);
}

.page-wrapper {
  background-color: $color-5;
}

header {
  background-color: $color-2; 
} 

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  background-color: $color-1;
}

footer {
  background-color: $color-2;
}

aside {
  background-color: $color-3;
}

aside a {
  color: $color-6;
  text-decoration: underline;
}

aside a:hover {
  text-decoration: none;
}
