@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Dosis&display=swap');
@import 'partials/mixin';
@import 'partials/color';
@import 'partials/typography';
@import 'partials/layout'; // responsive grid and media queries

.sidebar {
    ul {
        list-style-type: none;
    }

      li:before{
        content: '';
        display: inline-block;
        height: 10px;
        width: 10px;
        background-size: 10px 10px;
        background: url('/images/1413121417.svg') no-repeat;
        margin-left: -20px;
        margin-right: 10px;
     }
  }