@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Dosis&display=swap");
/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2,
h3 {
  font-family: "Kaushan Script", cursive;
  color: #292e1e;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.4em;
  /*
    @include MQ(S) {
      font-size: 3.2rem;
    }

    @include MQ(M) {
      font-size: 4rem;
    }
    */
}

h2, h3 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
  text-align: center;
  /*
    @include MQ(S) {
      font-size: 1.8rem;
      margin: 1em 0 1.4em;
    }
    */
}

section > h2::before {
  /* number before each section title */
  color: black;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #184150;
  /*
    @include MQ(S) {
      font-size: 1.6rem;
      line-height: 1.6;
    }
    */
}
p a {
  color: red;
  text-decoration: underline;
}

.page-wrapper {
  background-color: #eafdf8;
}

header {
  background-color: #a0ddff;
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  background-color: #63b4d1;
}

footer {
  background-color: #a0ddff;
}

aside {
  background-color: #f4e8c1;
}

body {
  padding: 0;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0 2%;
  width: 80%;
}

section {
  flex: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 10px;
}
section header {
  grid-column: 1/-1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
section .summary {
  grid-column: 1/1;
}
section .preamble {
  grid-column: 2/5;
}

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 10px;
}
.main .explanation {
  grid-column: 2/4;
}
.main .participation {
  grid-column: 2/2;
}
.main .benefits {
  grid-column: 3/3;
}
.main .requirements {
  grid-row: 1/3;
}

.main {
  flex: 73%;
}

.sidebar {
  flex: 21%;
}

.main {
  margin: 10px;
}

.sidebar {
  margin: 10px 7px;
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  padding: 0 18px;
}

footer {
  display: grid;
  align-items: center;
  grid-column: 1/4;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  padding: 15px;
  line-height: 2em;
}

aside {
  line-height: 2em;
  padding: 10px;
}

/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  /* this is the page background */
  background-color: #f6fefc;
}

/* -------------------------------- 

xPatterns

-------------------------------- */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #292e1e;
  border-radius: 3px;
  background: #eafdf8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xPage title 

-------------------------------- */
main > h1 {
  color: #a0ddff;
  /*
    @include MQ(L) {
      /* title goes into the header on big devices */
  /*
    color: $color-5;
  }
  */
}

/*
@import 'partials/basic-style';
*/

/*# sourceMappingURL=style.css.map */
